@use "../../styles/colors.scss";

.faq {
  text-align: initial;

  .faq-item {
    h5 > svg {
      transition: transform 0.1s ease-in-out;
      margin-right: 8px;

      &.expanded {
        transform: rotate(-180deg);
      }
    }

    section {
      font-size: 1rem;
      background-color: colors.$palette-neutral-o30;
      border-radius: 8px;

      .content {
        padding: 8px;
        white-space: pre-wrap;
      }
    }
  }
}