$palette-neutral: #F8EFF1;
$palette-primary: #8A6068;
$palette-secondary-1: #D3B5BB;
$palette-secondary-2: #AB848C;
$palette-secondary-3: #5F3D44;
$palette-secondary-4: #54232D;

$font-color-primary: #FFF;