$palette-neutral: #F8EFF1;
$palette-neutral-o30: #F8EFF130;
$palette-primary: #8A6068;
$palette-primary-o90: #8A606890;
$palette-secondary-1: #D3B5BB;
$palette-secondary-2: #AB848C;
$palette-secondary-3: #5F3D44;
$palette-secondary-3-o50: #5F3D4450;
$palette-secondary-3-o20: #5F3D4420;
$palette-secondary-4: #54232D;
$palette-secondary-4-o70: #54232D70;

$font-color-primary: #FFF;
$font-color-primary-o90: #FFFFFF90;