@use "../styles/colors.scss";
@use "../styles/heroSection.scss";

.therapy-page {
  .therapy {
    h4 {
      text-decoration: underline;
    }

    p {
      white-space: pre-wrap;
    }
  }

  .others .therapy-list {
    color: colors.$palette-neutral;

    .description {
      background-color: colors.$palette-secondary-4-o70;
    }
  }
}