@use "../styles/colors.scss";
@use "../styles/heroSection.scss";

.therapy-page {
  .therapy {
    h2 {
      font-size: 1rem;
      text-decoration: underline;
    }

    p {
      white-space: pre-wrap;
    }
  }

  .others {
    h1 {
      color: colors.$palette-primary;
    }

    .therapy-list {
      color: colors.$palette-neutral;

      .description {
        background-color: colors.$palette-secondary-4-o70;
      }
    }
  }
}