.social {
  display: flex;
  flex-direction: column;
  align-items: center;

  .social-label {
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
  }

  .social-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    [class*="fa"] {
      font-size: 1.4rem;
    }
  }
}