@use "../../styles/colors.scss";

$cardHeight: 300px;
$cardPadding: 32px;

.opinion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px $cardPadding;
  border-radius: 18px;
  font-size: 16px;
  height: $cardHeight;
  color: colors.$palette-neutral;

  &.mobile {
    width: calc(100% - 2 * $cardPadding) !important;
  }

  .message {
    margin-top: 0;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
  }

  .author {
    font-style: italic;
  }
}